annotated-types==0.5.0
anyio==3.7.1
bcrypt==4.0.1
certifi==2023.7.22
click==8.1.7
colorama==0.4.6
dnspython==2.3.0
ecdsa==0.18.0
email-validator==2.0.0.post2
fastapi==0.103.2
greenlet==3.0.0
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
idna
itsdangerous
Jinja2
MarkupSafe
orjson
passlib
psycopg
psycopg2-binary
pyasn1
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
tzdata
ujson
uvicorn
watchfiles
websockets
